.border-primary {
  border: 4px solid #eab308;
}
.border-secondary {
  border: 4px solid #1e293b;
}

.font-primary {
  font-family: "Playfair Display", serif;
}

.bg-parallax {
  background-image: url('../../assets/images/section-bg.png') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.bg-slate-transparent {
  background-color: #0f172abf;
}