.border-primary {
  border: 4px solid #eab308;
}
.border-secondary {
  border: 4px solid #1e293b;
}

.font-primary {
  font-family: "Playfair Display", serif;
}

#navbar-desktop a:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eab308;
  animation: grow 100ms linear;
}

.bg-slate-transparent {
  background-color: #0f172abf;
  
}

h2 {
  position: relative;
}
h2::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -20px;
  background-color: #eab308;
}