.border-primary {
  border: 4px solid #eab308;
}
.border-secondary {
  border: 4px solid #1e293b;
}

.font-primary {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
}

.bg-parallax {
  background-image: url('../../assets/images/section-bg.png') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.bg-parallax-dark {
  background-image: url('../../assets/images/navbar-bg.png') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.bg-slate-transparent {
  background-color: #0f172abf;
}
.bg-overlay {
  background-color: #0f172a5d;
}

summary::marker {
  content: '';
}
details summary span {
  transition: all 100ms linear;
}
details[open] summary span {
  transform: rotate(45deg) !important;
  scale: 1.1;
}