h1,
h1 span {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
}
h2 {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
}

h1,
h2 {
  position: relative;
}
h1::before,
h2::before,
footer h4::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -20px;
  background-color: #eab308;
}
#inicio h1::before {
  display: none;
}